page-start {
    .image{
    width: 100%;
    height: 100%;
    background-image: url('../assets/imgs/contact.jpg'); 
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center; 
    opacity: 0.95;
  }
  .buttons{
    position: absolute;
    bottom: 8%;
    width: 100vw;
    display: block;
    justify-content: center;
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
	  align-content: space-between;
  
  }
  .title{
    position: absolute;
    top: 10%;
    width: 100vw;
    text-align: center;
  }
  h2{
    font-family: Lovely;
    font-size: 5em;
    color: white;
  }
  .guest{
    position: absolute;
    bottom: 3%;
    width: 100vw;
    text-align: center;
  }
  p{
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 1.2em;
    color: white;
  }
}
