<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>WELCOME TO MONEYEARN</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div class="image">
  </div>
  <div class="title">
    <h2>Slide</h2>
  </div>
  <div class="buttons">
    <ion-row>
      <ion-col col-offset-1 col-5>
        <button class="button1" ion-button color="white" (click)="signup()" large full>SignUp</button>
      </ion-col>
      <ion-col col-offset-1 col-5>
        <button class="button2" ion-button color="primary" (click)="login()" large full>LogIn</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>