<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row responsive-sm wrap>
        <ion-col col-4>MoneyEarn</ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-row justify-content-end>
            <ion-col col-6>
              <ion-row id="a" justify-content-end>Rs. 0</ion-row>
            </ion-col>
            <ion-col col-6>
              <ion-row>
                <ion-icon name="card"></ion-icon>&nbsp;0
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-navbar>
  <ion-toolbar text-center>
    <h2>NEWS</h2>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let n of news" (click)="newspage(id)">
      <ion-thumbnail item-start>
        <img src="{{n.img}}">
      </ion-thumbnail>
      <h2>{{n.title}}</h2>
      <ion-row class="s">
        <ion-col>
          <ion-note>
            India| {{n.date}}
          </ion-note>
        </ion-col>
        <ion-col>
          <ion-icon name="thumbs-up"></ion-icon> {{n.like}}
        </ion-col>
        <ion-col>
          <ion-icon name="text"></ion-icon> {{n.comment}}
        </ion-col>
      </ion-row>
    </button>
  </ion-list>

</ion-content>