page-about {
    // #a
    // {
    //     margin-right: -137px !important;

    // }

    .s{
        display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
    }
}
