page-login {
    ion-content{
        top: 2%;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 0%;
        height: 90%;
        width: 90%;
        border-radius: 7px;
    }
    #container{
        margin-top:-5%;
    }
    // .scroll-content {
    //     overflow-y: hidden !important;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding-right: 2px;
    // }
    p{  
        font-weight: bold;
        font-size: 3em;
        font-family: 'Ubuntu';
        color:#000;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
        color: #000;
    }
    .button1{
        margin: 6% 0% 0% 0% !important;
        font-size:1em !important;
    }
    .button2{
        margin: 0% 0% 0% 0% !important;
        font-size:1em !important;
    }
    

}
