<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <div id="container">
            <p>
                    <h2>Log In</h2>
                <p>
    <ion-row>
        <ion-item>
            <ion-label floating color="dark" stacked>Email-id</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="dark" stacked>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item no-lines no-padding item-center>
            <button class="button1" ion-button color="grey" (click)="main()" full large>Sign In</button>
        </ion-item>
        <ion-item no-lines no-padding>
            <button class="button2" ion-button color="grey" (click)="dismiss()" block clear>Not Now</button>
        </ion-item>
    </ion-row>
    </div>
</ion-content>