<ion-tabs selectedIndex="1" >
  <ion-tab [root]="tab1Root" tabTitle="Wallet" tabIcon="card"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Earn" tabIcon="cash"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Read" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Exlore" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>