<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row responsive-sm wrap>
        <ion-col col-4>MoneyEarn</ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-row justify-content-end>
            <ion-col col-6>
              <ion-row id="a" justify-content-end>Rs. 0</ion-row>
            </ion-col>
            <ion-col col-6>
              <ion-row>
                <ion-icon name="card"></ion-icon>&nbsp;0
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item>
          <h2>Profile</h2>
          <button ion-button clear item-end>Edit</button>
          <p>Aditi</p>
        </ion-item> -->

    <ion-card>
      <ion-card-header no-padding>
        <ion-item>
          <b>Profile</b>
          <button ion-button clear item-end (click)="ProfEdit()">Edit</button>
        </ion-item>
      </ion-card-header>

      <ion-card-content no-padding>
        <ion-item>
          <h2>Aditi</h2>
        </ion-item>
        <ion-item style="color:lightslategray">
          <ion-icon name="pin"></ion-icon> &nbsp;14/10/1996
          <br>
          <ion-icon name="pin"></ion-icon> &nbsp;Rajasthan
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header no-padding>
        <ion-item>
          <b>Profile</b>
          <button ion-button clear item-end (click)="makeedit()">Edit</button>
        </ion-item>
      </ion-card-header>

      <ion-card-content no-padding>
        <ion-item style="color:lightslategray">
          <ion-input disabled="{{event}}" type="number" placeholder="number" value="998723979" readonly="readonly"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item item-left no-lines>
        <button ion-button clear color="danger" no-lines (click)="Signout()">SignOut</button>
      </ion-item>
      <ion-item item-start no-lines>
        <button ion-button clear color="danger" no-lines (click)="DeleteAcc()">Delete Account</button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>