page-home {
   .adjust{
    
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	
   }
    img{
        max-height: 100%;
        max-width: 100%;
    }
    ion-card{
        position: relative;
    }

    // .image{
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../assets/imgs/wallet.png'); 
       
    //   }
    

    $toolbar-height: 20px;
}




