<style>
  .loot {
    margin-left: 3%;
  }

  #pos {
    width: 7%;
    height: 7%;
  }
</style>
<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row responsive-sm wrap>
        <ion-col col-4>MoneyEarn</ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-row justify-content-end>
            <ion-col col-6>
              <ion-row id="a" justify-content-end>Rs. 0</ion-row>
            </ion-col>
            <ion-col col-6>
              <ion-row>
                <ion-icon name="card"></ion-icon>&nbsp;0
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-navbar>
  <ion-toolbar style="background-color: white">
    <ion-card>
      <ion-card-content>
        <ion-row style="height:100%">
          <ion-col col-4>
            <ion-row justify-content-center>
              <ion-icon name="call"></ion-icon>
            </ion-row>
            <br>
            <ion-row style="text-align: center" justify-content-center>
              Invite a friend to the App
            </ion-row>

          </ion-col>
          <ion-col col-4>
            <ion-row justify-content-center>
              <ion-icon name="camera"></ion-icon>
            </ion-row>
            <br>
            <ion-row style="text-align: center" justify-content-center>
              Friend signs up for the App
            </ion-row>
          </ion-col>
          <ion-col col-4>
            <ion-row justify-content-center>
              <ion-icon name="card"></ion-icon>
            </ion-row>
            <br>
            <ion-row style="text-align: center" justify-content-center>
              Both of you get $25 rupees
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div>
    <ion-card class="ids" *ngFor="let o of offer">
      <ion-card-header>

        <ion-grid>
          <ion-row class="adjust">
            <ion-col>
              <img src="{{o.img}}" item-left/>
            </ion-col>
            <ion-col class="loot">
              <ion-row>
                <b> OFFER </b>
              </ion-row>
              <br>
              <ion-row>
                <p>Install and Open</p>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <div style="height:80px; width:100px">
                  <div style="background-color: lightslategray; height:65%;">
                    <p style="color:white; text-align: center">
                      <b>Rs. {{o.price}} </b>
                    </p>
                  </div>

                  <div style="background-color: rgb(61, 118, 204);color:white; text-align: center; height:25%;">
                    INSTALL
                  </div>
                </div>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>