page-join {
    .scroll-content{
        overflow:hidden;
    }

    .container{
        width: 70%;
        margin: auto;
    }

    #fex{
        display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    }
}
