<!--
  Generated template for the JoinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Required information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="container">
    <ion-row ion-list no-lines>

      <ion-item no-lines no-padding>
        <ion-input type="text" placeholder="name" value="">aditi</ion-input>
      </ion-item>

      <ion-row radio-group id="fex">

        <ion-col col-6>
          <ion-item text-wrap>
            <ion-label>M</ion-label>
            <ion-radio value="male"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item text-wrap>
            <ion-label>F</ion-label>
            <ion-radio value="female"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-item no-lines no-padding text-wrap>
        We will never Sell, Rent, Lease or give away your information.
      </ion-item>
      <ion-item no-lines no-padding>
        <button class="button1" ion-button color="grey" (click)="main()" full large>DOB</button>
        <br>
        <button class="button1" ion-button color="grey" (click)="main()" full large>State</button>
      </ion-item>



    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <button ion-button color="grey" (click)="Done()" full large>Done</button>
</ion-footer>