page-delete-acc {
    #button{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            align-content: space-between;
        }
    
}
