<!--
  Generated template for the DeleteAccPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Delete Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
    <ion-item text-wrap>
      We loved having you on Slide! We'll be sad if you leave us. If you could please tell us why are you not satisfied with our
      app.
    </ion-item>
    <ion-list radio-group>
      <ion-item text-wrap>
        <ion-label>It did not have content</ion-label>
        <ion-radio value="It did not have content" item-start></ion-radio>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>It consumes a lot of data</ion-label>
        <ion-radio value="It consumes a lot of data" item-start></ion-radio>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>It consumes too much library</ion-label>
        <ion-radio value="It consumes too much library" item-start></ion-radio>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Did not work well</ion-label>
        <ion-radio value="Did not work well" item-start></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div id="button">
    <button ion-button color="dark" clear>Cancel</button>
    <button ion-button color="secondary" clear>Proceed</button>
  </div>
</ion-footer>