page-news {
    // #d{
    //     height: 30px;
    // }
    img{
        max-width: 100%;
        max-height:100%;
    }

    #new{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: center;
	    align-content: space-between;
    }
}
