<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NewsPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div id="d">
      <img src="../assets/imgs/contact.jpg">
    </div>
    <ion-card-content>
      <ion-item>
        <p> (CNN)-The United Nations voted overwhelmingly to condemn President Donald Trump's decision to recognize Jerusalem
          as the capital of Israel despite thed a direct threat, saying that the US will think twice about funding the world
          body if it voted to condemn Trump's decision.'The United States will remember this day in which it was singled
          out for attack in this assembly,' Haley said. 'We will remember it when we are called upon to once again make the
          world's largest contribution' to the UN and when other member nations ask Washington 'to pay even more and to use
          our influence for their benefit
        </p>
      </ion-item>
      <hr>
      <ion-item>
        <p>The Hindu</p>
        <h2>U.N. vote on Jerusalem Israeli</h2>

        <ion-row id="new">
          <ion-col>
            <ion-note>
              India| 2 hours ago
            </ion-note>
          </ion-col>
          <ion-col>
            <ion-icon name="thumbs-up"></ion-icon> 49
          </ion-col>
          <ion-col>
            <ion-icon name="text"></ion-icon> 112
          </ion-col>
        </ion-row>
        <ion-item text-wrap text-align="center">
          <p> (CNN)-The United Nations voted overwhelmingly to condemn President Donald Trump's decision to recognize Jerusalem
            as the capital of Israel despite thed a direct threat, saying that the US will think twice about funding the
            world body if it voted to condemn Trump's decision.'The United States will remember this day in which it was
            singled out for attack in this assembly,' Haley said. 'We will remember it when we are called upon to once again
            make the world's largest contribution' to the UN and when other member nations ask Washington 'to pay even more
            and to use our influence for their benefit"</p>
        </ion-item>

      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input type="text" placeholder="Your comment here"></ion-input>
    <button ion-button type="submit" clear item-right>
      <ion-icon name="card"></ion-icon>
    </button>
  </ion-item>
</ion-footer>