<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-row responsive-sm wrap>
        <ion-col col-4>MoneyEarn</ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-row justify-content-end>
            <ion-col col-6>
              <ion-row id="a" justify-content-end>Rs. 0</ion-row>
            </ion-col>
            <ion-col col-6>
              <ion-row>
                <ion-icon name="card"></ion-icon>&nbsp;0
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>