<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-row responsive-sm wrap>
        <ion-col col-4>MoneyEarn</ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-row justify-content-end>
            <ion-col col-6>
              <ion-row id="a" justify-content-end>Rs. 0</ion-row>
            </ion-col>
            <ion-col col-6>
              <ion-row>
                <ion-icon name="card"></ion-icon>&nbsp;0
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="cash">
    <h2 style="color: slategray">Your Balance</h2>
    <p>Rs.
      <span style="color: rgb(162, 0, 255); font-size: 50px"> 44 </span>
    </p>
  </div>
  <ion-card>
    <ion-row class="fex">
      <ion-col col-6>
        <ion-item text-wrap style="color:slategray">
          Get Reward
          <p> Save your phone bill by Slide</p>
        </ion-item>
        <ion-item style="color:seagreen" text-wrap>
          <b>GET REWARDED</b>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <img src="../assets/imgs/gift.png">
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="fex">
      <ion-col col-6>
        <ion-item text-wrap style="color:slategray">
          Invite Friends
          <p> and Get Rewards!</p>
        </ion-item>
        <ion-item style="color:rgb(162, 0, 255)" text-wrap>
          <b>See More
          </b>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <img src="../assets/imgs/wallet.png">
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>