<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="set">

    <div id="container">
        <p>
            <h2>Sign Up</h2>
            <p>
                <ion-row ion-list no-lines>
                    <ion-col col-6 no-padding>
                        <ion-item no-lines no-padding>
                            <ion-label color="dark" stacked>First Name</ion-label>
                            <ion-input type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-6 no-padding>
                        <ion-item no-lines no-padding>
                            <ion-label color="dark" stacked>Last Name</ion-label>
                            <ion-input type="text"></ion-input>
                        </ion-item>
                    </ion-col>


                    <ion-item no-lines no-padding>
                        <ion-label color="dark" stacked>Phone Number (Optional)</ion-label>
                        <ion-input type="number"></ion-input>
                    </ion-item>

                    <ion-item no-lines no-padding>
                        <ion-label color="dark" stacked>Email Address</ion-label>
                        <ion-input type="email"></ion-input>
                    </ion-item>

                    <ion-item no-lines no-padding>
                        <ion-label color="dark" stacked>Password</ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>
                    <ion-item no-lines no-padding>
                        <ion-label color="dark" stacked>Confirm Password</ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>

                    <h5>Manage Notifications</h5>
                    <ion-item no-lines text-wrap no-padding>
                        <ion-label class="notifications" stacked>I would like to receive account updates, program news and offers via email and direct mail.</ion-label>
                        <ion-checkbox color="primary" checked="true"></ion-checkbox>
                    </ion-item>
                    <ion-item no-lines text-wrap no-padding>
                        <ion-label class="notifications" stacked>I would like to receive exclusive offers from select third parties</ion-label>
                        <ion-checkbox color="primary" checked="true"></ion-checkbox>
                    </ion-item>
                    <ion-item no-lines text-wrap no-padding>
                        <ion-label color="grey" stacked>By signing up, I agree to Slide's
                            <a href="#" color="primary">Terms Of Use, Privacy Statment </a> &
                            <a href="#" color="primary"> Data Protection Clause</a>
                        </ion-label>
                    </ion-item>
                    <ion-item no-lines no-padding>
                        <button class="button1" ion-button color="grey" (click)="main()" full large>Join</button>
                    </ion-item>
                    <ion-item no-lines no-padding>
                        <button class="button2" ion-button color="grey" (click)="dismiss()" block clear>Not Now</button>
                    </ion-item>
                </ion-row>
    </div>
</ion-content>